classes
*.log
*.swp
ideas
/lib
stacktrace.log
/target
/target-eclipse
.gradle
.DS_Store
.classpath
.project
/.settings
/wrapper
.DS_Store
/pier-next-documentation
/test
/angular-alias
UMLS2013AB_MRCONSO_ENG_SUBSET_FILTERED.txt
jsoncasser.json
jsoncasser.json
jsoncasser.json
/spellgen-notes
/runtime-logs/
